@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0; /* Remove any default body margin */
  min-height: 100vh; /* Ensures body takes up the full viewport height */
  background-color: lightgray;
}

.main-content {
  padding-top: 64px; /* Adjust this value to match your navbar's height */
}
.main-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px); /* Subtract the navbar height for correct vertical centering */
  width: 100%;
}

.form-box {
  border: 2px solid #0c0909;
  padding: 20px;
  border-radius: 10px;
}

.form-fields {
  display: flex;
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
  flex-direction: column;
  gap: 15px;
}

.form-box .form-fields .text-field,
.form-box .form-fields .pwd-field {
  width: 80%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box; 
  border-radius: 15px;
  border: 2px solid #0c0909;
}

.form-box .form-fields .btn-submit{
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  color: aliceblue;
  background-color: lightseagreen;
  cursor: pointer;
  border: 2px solid #0c0909;
  width: 30%;
}